
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.notification {
  opacity: 1;
  animation: dessappear 500ms forwards;

  @keyframes dessappear {
    70% {
      opacity: 0;
    }
    100% {
      display: none;
    }
  }
}

.buttons-container {
  display: flex;
  justify-content: center;
}

.buttons-container a {
  margin-right: .5em;
}